<ion-content>
  <section class="content-fullscreen">
    <img class="logo-main" src="/assets/img/ionic.svg" alt="">
    <section class="content-form">
      <ion-label class="title-main">Sign in</ion-label>
      <form autocomplete="off" [formGroup]="forma">
        <ion-item>
          <ion-label position="floating">Mail</ion-label>
          <ion-input formControlName="mail" [class.is-invalid]="mailNotValid" type="email"></ion-input>
        </ion-item>
        <small *ngIf="mailNotValid" class="msg-input-danger">Enter valid email</small>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" [class.is-invalid]="passwordNotValid" type="password"></ion-input>
        </ion-item>
        <small *ngIf="passwordNotValid" class="msg-input-danger">Enter the password.</small>
        <div class="section-social" (click)="loginSocial('google')">
          <ion-label>Or</ion-label>
          <ion-icon name="logo-google"></ion-icon>
        </div>
      </form>
      <section class="content-buttons">
        <ion-button class="button-primary" (click)="login()">Sign in</ion-button>
        <ion-label class="title-info" routerLink="/register">Don't have an account? Register</ion-label>
      </section>
    </section>
  </section>
</ion-content>