ion-menu ion-content {
  --background: linear-gradient(to right, #00c6ff, #2cb3f3);

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: transparent;
  }

  .menu-body {
    height            : 100%;
    display           : grid;
    grid-template-rows: 6rem auto;

    .header {
      display        : flex;
      flex-direction : column;
      align-items    : center;
      justify-content: center;
      border-bottom  : .5px solid;
      border-color   : lightgray;

      .avatar {
        color    : white;
        font-size: 2.5rem;
      }
      .avatar-img {
        border-radius: 50%;
        width: 3rem;
        border: 2px solid white;
        height: 3rem;
      }
      ion-label {
        color : white;
        margin: .5rem 0 0 0;
      }
    }

    .content {
      display        : flex;
      flex-direction : column;
      justify-content: space-between;

      ion-item {
        color: #797979
      }
    }

  }
}