<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [disabled]="dsbMenu" *ngIf="userData">
      <ion-content>
        <div class="menu-body">
          <div class="header">
            <ion-icon *ngIf="!userData.photo" class="avatar" slot="start" name="person"></ion-icon>
            <img *ngIf="userData.photo" class="avatar-img" [src]="userData.photo" alt="">
            
            <ion-label *ngIf="!userData.name">{{ userData.mail }}</ion-label>
            <ion-label *ngIf="userData.name">{{ userData.name }}</ion-label>
          </div>
          <div class="content">
            <ion-list id="inbox-list">    
              <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
            <ion-item (click)="logout()" lines="none" detail="false">
              <ion-icon slot="start" name="exit"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </div>
        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
